.checkout-payment-success img {
	width: 200px !important;
	height: 200px !important;
}

.product-checkout .payment-card-container .form-check-input,
.product-checkout .shipping-method-container .form-check-input {
	position: absolute;
	inset-inline-end: 0.85rem;
    inset-block-start: 1.5rem;
}

@media (min-width: 576px) {

	.product-checkout .payment-card-container .saved-card-details,
	.product-checkout .payment-card-container .shipping-partner-details,
	.product-checkout .shipping-method-container .saved-card-details,
	.product-checkout .shipping-method-container .shipping-partner-details {
		width: 12.5rem;
	}
}
.product-quantity-container {
	width: 7.85rem;
}

.product-checkout .payment-card-container,
.product-checkout .shipping-method-container {
	position: relative;
	padding: 0.625rem;
	border: 1px solid $default-border;
	border-radius: 0.5rem;
}

.shipping-method-container .form-check-input {
	position: absolute;
	inset-inline-end: 0.75rem;
	inset-block-start: 1.2rem;
}

.zoom img:hover {
	transform: scale(0.96) !important;
	transition: 0.3s ease;
}

.item-card {
	.cardbody {
		position: relative;
		padding: 30px 15px;
		border-radius: 0 0 .2rem .2rem;
	}

	.cardtitle {
		span {
			display: block;
			font-size: .75rem;
		}

		a {
			font-weight: 400;
			text-decoration: none;
		}
	}

	.cardprice {
		position: absolute;
		inset-inline-end: 0;

		span {
			&.type--strikethrough {
				opacity: 0.5;
				text-decoration: line-through;
				font-size: 14px;
				font-weight: 400;
			}

			display: block;
			font-size: 18px;
			font-weight: 500;
		}
	}
}
#address-add {
    min-height: calc(1.5em + 2.75rem + var(--bs-border-width)* 2);
}
#product-features {
    max-height: 12.5rem;
    overflow-y: scroll;
}