.main-sidebar {
    margin-block-start: 4.5rem;
    padding-block-start: 0.5rem;
    padding-block-end: 5rem;
    height: 100vh;
    position: relative;
    overflow: auto;
}

[dir="rtl"] {
    .app-sidebar {
        .side-menu__item {
            &:before {
                transform: rotate(180deg);
            }}
        .fe-chevron-right {
            transform: rotate(180deg);
        }
    }

    .sidemenu-toggle .header-link {
        .header-link-icon {
            transform: rotate(180deg);
        }
    }
}

.app-sidebar {
    position: fixed;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    margin-block-start: 0px;
    width: 15.625rem;
    max-height: 100%;
    z-index: 102;
    background: $menu-bg;
    border-inline-end: 1px solid $menu-border-color;
    box-shadow: 0 0.76rem 1.52rem rgba(18, 38, 63, 0.03);
    -webkit-transition: left 0.3s ease, width 0.3s ease;
    transition: left 0.3s ease, width 0.3s ease;
    .main-sidebar-header {
        display: flex;
        justify-content: center;
        padding: 11px 11px;
        border-block-end: 1px solid $menu-border-color;
        border-inline-end: 1px solid $menu-border-color;
        text-align: center;
        width: 15.625rem;
        z-index: 999999;
        position: fixed;
        background: $menu-bg;
        -webkit-transition: left 0.3s ease, width 0.3s ease;
        -o-transition: left 0.3s ease, width 0.3s ease;
        transition: left 0.3s ease, width 0.3s ease;

        .header-logo {
            img {
                height: 3rem;
                line-height: 2rem;
                vertical-align: bottom;
                margin-inline-end: 0;
                width: auto;
            }

            .desktop-logo {
                display: block;
            }

            .desktop-dark,
            .toggle-logo,
            .toggle-dark,
            .desktop-white,
            .toggle-white {
                display: none;
            }
        }
    }

    .slide__category {
        color: #9993b5;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-block-start: 15px !important;
        margin-block-end: 15px !important;
        padding-inline-end: 20px !important;
        padding-inline-start: 20px !important;
    }

    .child1,
    .child2,
    .child3 {
        .side-menu__item {
            padding-block-start: 10px !important;
        }
    }


    .side-menu__item {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-block: 3px;
        padding-inline-start: 10px;
        padding-inline-end: 10px;
        font-size: 20px;
        font-weight: 400;
        color: $menu-prime-color;
        border-radius: 0.25rem;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        margin-block-end: 3px;
        text-decoration: none;
        letter-spacing: 1px;

        .side-menu__icon {
            font-size: 1.24rem;
            line-height: 30px;
            text-align: center;
            vertical-align: middle;
            width: 36px;
            height: 36px;
            margin-inline-end: 0.5rem;
            padding: 8px;
            fill: $menu-prime-color;
            color: $menu-prime-color;
        }

        .side-menu__label {
            color: $menu-prime-color;
            white-space: nowrap;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.6px;
            opacity: 1;
            height: auto;
            transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
        }

        &.active,
        &:hover {
            text-decoration: none;
            background: $black-8;
            color: $primary;

            .side-menu__label,
            .side-menu__angle {
                color: $primary;
            }

            .side-menu__icon {
                fill: $primary;
                color: $primary;
            }
        }

        &.active {
            font-weight: 600;
            fill: $primary !important;
        }
    }

    .slide-menu {

        &.child1,
        &.child2,
        &.child3 {
            .side-menu__item.active {
                background-color: transparent;
                color: $primary;
            }
        }
    }

    .slide-menu {
        padding: 0rem;
    }

    .slide-menu {

        &.child1,
        &.child2 {
            .side-menu__item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding-inline-end: 14px;
                padding-block-end: 10px;
                padding-inline-start: 39px;
                font-size: 13px;
                color: $menu-prime-color;
                letter-spacing: normal;
                font-weight: 400 !important;
            }
        }
    }

    .slide-menu {

        &.child1,
        &.child2,
        &.child3 {
            .side-menu__item {
                &:before {
                    content: "\f234";
                    margin-inline-end: 8px;
                    font-family: 'bootstrap-icons' !important;
                    position: relative;
                    font-size: 8px;
                    border: 0 !important;
                }

                &:hover {
                    color: $primary;
                    background-color: transparent !important;

                    &:before {
                        content: "\f234";
                        margin-inline-end: 8px;
                        font-family: 'bootstrap-icons' !important;
                        position: relative;
                        font-size: 8px;
                        border: 0 !important;
                    }

                    margin-inline-start: 15px;
                    text-decoration: none;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                }

                &.active {
                    &:before {
                        content: "\f234";
                        margin-inline-end: 8px;
                        font-family: "bootstrap-icons" !important;
                        position: relative;
                        font-size: 8px;
                        border: 0 !important;
                    }
                }
            }
        }
    }

    .side-menu__angle {
        transform-origin: center;
        position: absolute;
        inset-inline-end: 0.59rem;
        font-size: 0.95rem !important;
        color: $menu-prime-color;
        transition: all .05s ease;
    }

    .slide.side-menu__label1 {
        display: none;
    }
    .simplebar-content {
        padding-block-start: 3px !important;
    }
}

.horizontal-logo {
    padding: 0.85rem 0rem;
}

.slide.has-sub .slide-menu {
    transform: translate(0, 0) !important;
    visibility: visible !important;
}

.nav ul li {
    list-style-type: none;
}

.nav>ul {
    padding-inline-start: 0px;
}

.slide-menu {
    display: none;
}

.slide.has-sub {
    display: grid;

    &.open {
        >.side-menu__item .side-menu__angle {
            transform: rotate(90deg);
        }
    }
}

@media (min-width:992px) {
    [data-toggled="open"] {
        .page {
            position: absolute;
        }
    }

    [data-toggled="menu-click-closed"],
    [data-toggled="menu-hover-closed"],
    [data-toggled="icon-click-closed"],
    [data-toggled="icon-hover-closed"],
    [data-toggled="icon-text-close"] {
        .app-content {
            min-height: calc(100vh - -50rem);
        }
    }
}

/* Responsive Styles Start */

@media (max-width: 991.98px) {
    .horizontal-logo {
        .header-logo {

            .desktop-logo,
            .desktop-dark,
            .toggle-dark,
            .desktop-white,
            .toggle-white {
                display: none;
            }

            .toggle-logo {
                display: block;
            }
        }
    }

    .main-content {
        padding-block-start: 3.75rem;
    }

    .main-sidebar-header {
        display: none !important;
    }

    .main-sidebar {
        margin-block-start: 0;
    }

    .app-sidebar {
        inset-block-start: 0;
    }

    .main-menu {
        margin: 0 !important;
    }
}

.slide-left,
.slide-right {
    display: none;
}

[data-nav-layout="vertical"] {
    &[data-toggled="icon-click-closed"] {
        .app-sidebar .main-sidebar-header {
            padding: 11px 12px;
        }
    }
    @media (min-width: 992px) {
        .footer {
            padding-inline-start: 15.5rem;
        }
    }
}

@media (min-width:992px) {
    .horizontal-logo {
        display: none;
    }
}

/* Responsive Styles End */

/* Responsive Overlay Start */
#responsive-overlay {
    visibility: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 101;
    background-color: rgba(15, 23, 42, 0.5);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;

    &.active {
        visibility: visible;
    }
}

.app-sidebar .slide-menu.child2 {
    .side-menu__item {
        padding-inline-start: 60px !important;
    }
}

.app-sidebar .slide-menu.child3 {
    .side-menu__item {
        padding-inline-start: 80px !important;
    }
}

[data-theme-mode="dark"] {
    .app-sidebar .slide__category {
        color: $black-5;
    }

    .app-sidebar {
        .side-menu__item {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-block: 3px;
            padding-inline-start: 10px;
            padding-inline-end: 10px;
            font-size: 20px;
            font-weight: 400;
            color: $menu-prime-color;
            margin-inline-start: 10px;
            margin-inline-end: 10px;
            margin-block-end: 1px;
            text-decoration: none;
            letter-spacing: 1px;

            .side-menu__icon {
                font-size: 1.24rem;
                line-height: 30px;
                text-align: center;
                vertical-align: middle;
                width: 36px;
                height: 36px;
                fill: $menu-prime-color;
                color: $menu-prime-color;
            }

            // &.active,
            // &:hover {
            //     text-decoration: none;
            //     background: $black-8;
            //     color: $menu-prime-color;

            //     .side-menu__label,
            //     .side-menu__angle {
            //         color: $menu-prime-color;
            //     }

            //     .side-menu__icon {
            //         fill: $menu-prime-color;
            //         color: $menu-prime-color;
            //     }
            // }

            // &.active {
            //     font-weight: 600;
            //     fill: $white !important;
            //     color: $white !important;
            // }

            .slide-menu {

                &.child1,
                &.child2,
                &.child3 {
                    .side-menu__item.active {
                        background-color: transparent;
                        color: $menu-prime-color !important;
                    }
                }
            }
        }
    }
}

[data-menu-styles="light"] {
    .app-sidebar .slide__category {
        color: #9993b5;
    }
}

/* Responsive Overlay End */

@media (max-width: 991.98px) {
    [data-toggled="close"] {
        .app-sidebar {
            inset-inline-start: -14px;
        }
    }
}